<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/analyzer/css/charts.css">
  <title>Nginx Log Analyser - Charts</title>
</head>
<body>
  <div class="app">
    <p class="main-title">当前已分析 [[ ${count} ]] 条访问记录</p>
    <div class="content">
      <div id="os-charts"></div>
      <div id="browser-charts"></div>
      <div id="http-code-charts"></div>
      <div id="visit-time-charts"></div>
      <div id="ip-charts"></div>
      <div id="country-charts"></div>
      <div id="real-ip-charts"></div>
      <div id="real-country-charts"></div>
      <div id="method-charts"></div>
      <div id="file-type-charts"></div>
    </div>
  </div>

  <div class="win">
    <div class="content">
      <div class="inner">
        <p>样式选择</p>
        <a class="close" href="javascript:void(0)" onclick="winHide()"></a>
        <div>
          <a href="javascript:void(0)" target="_blank" class="charts">图表</a>
          <a href="javascript:void(0)" target="_blank" class="details">列表</a>
        </div>
      </div>
    </div>
  </div>

 <div class="loading" style="display: table">
   <div class="content">
     <div class="inner">
       <img src="/analyzer/img/loading.svg" alt="">
     </div>
   </div>
 </div>
</body>
<script src="/analyzer/js/common.js"></script>
<script src="/analyzer/js/charts.js"></script>
<script src="/analyzer/js/echarts.min.js"></script>
<script th:inline="javascript">
  // 图表
  const osEcharts = echarts.init(document.getElementById('os-charts'), null, { renderer: 'svg' })
  osEcharts.setOption(pieOption('操作系统', [[ ${os} ]]))
  const browserEcharts = echarts.init(document.getElementById('browser-charts'), null, { renderer: 'svg' })
  browserEcharts.setOption(pieOption('浏览器', [[ ${browser} ]]))
  const httpCodeEcharts = echarts.init(document.getElementById('http-code-charts'), null, { renderer: 'svg' })
  httpCodeEcharts.setOption(pieOption('http 状态码', [[ ${httpCode} ]]))
  const visitTimeEcharts = echarts.init(document.getElementById('visit-time-charts'), null, { renderer: 'svg' })
  visitTimeEcharts.setOption(barOption('* 访问频次（浏览器时区）', [[ ${visitTime} ]]))
  const ipEcharts = echarts.init(document.getElementById('ip-charts'), null, { renderer: 'svg' })
  ipEcharts.setOption(barOption('* ip 地址', [[ ${ip} ]]))
  const countryEcharts = echarts.init(document.getElementById('country-charts'), null, { renderer: 'svg' })
  countryEcharts.setOption(barOption('国家', [[ ${country} ]]))
  const realIpEcharts = echarts.init(document.getElementById('real-ip-charts'), null, { renderer: 'svg' })
  realIpEcharts.setOption(barOption('* 真实 ip 地址', [[ ${realIP} ]]))
  const realCountryEcharts = echarts.init(document.getElementById('real-country-charts'), null, { renderer: 'svg' })
  realCountryEcharts.setOption(barOption('真实 ip 国家', [[ ${realCountry}]]))
  const methodEcharts = echarts.init(document.getElementById('method-charts'), null, { renderer: 'svg' })
  methodEcharts.setOption(pieOption('请求方式', [[ ${method} ]]))
  const fileTypeEcharts = echarts.init(document.getElementById('file-type-charts'), null, { renderer: 'svg' })
  fileTypeEcharts.setOption(pieOption('访问的文件类型', [[ ${fileType} ]]))

  // 点击事件
  osEcharts.on('click', function (params) {
  })
  browserEcharts.on('click', function (params) {
  })
  httpCodeEcharts.on('click', function (params) {
  })
  visitTimeEcharts.on('click', function (params) {
    if (/charts\/day/.test(location.pathname)) return
    const filename = location.pathname.split("/");
    let previousURI = '/'
    for (let i = filename.indexOf('charts')-1; i > 0; i--) {
      previousURI = '/' + filename[i] + previousURI
    }
    const charts = previousURI + 'charts/day/'+params.name+'/'+filename[filename.length-1]+'?timezone=Asia/Shanghai'
    const details = previousURI + 'details/day/'+params.name+'/'+filename[filename.length-1]+'?timezone=Asia/Shanghai'
    winShow(charts, details)
  })
  ipEcharts.on('click', function (params) {
    if (/charts\/ip\/proxy/.test(location.pathname)) return
    const filename = location.pathname.split("/");
    let previousURI = '/'
    for (let i = filename.indexOf('charts')-1; i > 0; i--) {
      previousURI = '/' + filename[i] + previousURI
    }
    const charts = previousURI + 'charts/ip/proxy/'+params.name+'/'+filename[filename.length-1]
    const details = previousURI + 'details/ip/proxy/'+params.name+'/'+filename[filename.length-1]
    winShow(charts, details)
  })
  countryEcharts.on('click', function (params) {
  })
  realIpEcharts.on('click', function (params) {
    if (/charts\/ip\/real/.test(location.pathname)) return
    const filename = location.pathname.split("/");
    let previousURI = '/'
    for (let i = filename.indexOf('charts')-1; i > 0; i--) {
      previousURI = '/' + filename[i] + previousURI
    }
    const charts = previousURI + 'charts/ip/real/'+params.name+'/'+filename[filename.length-1]
    const details = previousURI + 'details/ip/real/'+params.name+'/'+filename[filename.length-1]
    winShow(charts, details)
  })
  realCountryEcharts.on('click', function (params) {
  })
  methodEcharts.on('click', function (params) {
  })
  fileTypeEcharts.on('click', function (params) {
  })

  // loading 结束
  loadingHide()
</script>
</html>
