<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/analyzer/css/details.css">
  <title>Nginx Log Analyser - Details</title>
</head>
<body>
  <p class="main-title">Total Log: [[ ${count} ]]</p>

  <table>
    <thead>
      <tr>
        <th>#</th>
        <th title="RemoteAddr">RemoteAddr</th>
        <th title="HttpXForwardedFor">HttpXForwardedFor</th>
        <th title="TimeLocal">TimeLocal</th>
        <th title="Status">Status</th>
        <th title="Method">Method</th>
        <th title="Protocol">Protocol</th>
        <th title="SSLProtocol">SSLProtocol</th>
        <th title="SSLCipher">SSLCipher</th>
        <th title="UpstreamAddr">UpstreamAddr</th>
        <th title="UpstreamResponseTime">RespTime</th>
        <th title="BodyBytesSent">Bytes</th>
        <th title="RequestTime">ReqTime</th>
        <th title="RemoteUser">RemoteUser</th>
        <th title="URI">URI</th>
        <th title="HttpReferer">HttpReferer</th>
        <th title="HttpUserAgent">HttpUserAgent</th>
      </tr>
    </thead>
    <tbody id="tbody"></tbody>
  </table>

  <div class="loading">
    <div class="content">
      <div class="inner">
        <p>Loading. . .</p>
      </div>
    </div>
  </div>

  <div class="response">
    <div class="content">
      <pre></pre>
    </div>
  </div>
</body>
<script src="/analyzer/js/common.js"></script>
<script th:inline="javascript">
  [[ ${list} ]].forEach((item, index) => {
    const tr = document.createElement("tr")
    tr.innerHTML = `
      <td>`+(index+1)+`</td>
      <td onclick="GET('`+item.remoteAddr+`')">`+item.remoteAddr+`</td>
      <td onclick="GET('`+item.httpXForwardedFor+`')">`+item.httpXForwardedFor+`</td>
      <td>`+item.timeLocal+`</td>
      <td>`+item.status+`</td>
      <td>`+item.method+`</td>
      <td>`+item.protocol+`</td>
      <td>`+item.sslprotocol+`</td>
      <td>`+item.sslcipher+`</td>
      <td>`+item.upstreamAddr+`</td>
      <td>`+item.upstreamResponseTime+`</td>
      <td>`+item.bodyBytesSent+`</td>
      <td>`+item.requestTime+`</td>
      <td>`+item.remoteUser+`</td>
      <td>`+item.uri+`</td>
      <td>`+item.httpReferer+`</td>
      <td>`+item.httpUserAgent+`</td>
    `
    tr.addEventListener('click', function() {
      tr.classList.toggle('active')
    })
    document.getElementById("tbody").append(tr)
  })

  const loading = document.querySelector('.loading')
  loading.style.display = 'none'

  const response = document.querySelector('.response')
  const pre = document.querySelector('.response .content pre')
  response.addEventListener('click', function() {
    response.style.display = 'none'
  })
  pre.addEventListener('click', function(e) {
    if (e && e.stopPropagation) {
      e.stopPropagation() // 因此它支持W3C的stopPropagation()方法
    } else {
      window.event.cancelBubble = true // 否则，我们需要使用IE的方式来取消事件冒泡
    }
  })

  async function GET(ip) {
    loading.style.display = 'table'
    try {
      const resp = await fetch([[ ${api} ]].replace('{ip}', ip), {
        method: 'GET', // *GET, POST, PUT, DELETE, etc.
        mode: 'cors', // no-cors, *cors, same-origin
        cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
        redirect: 'follow', // manual, *follow, error
        referrer: '', // no-referrer
        referrerPolicy: 'no-referrer', // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
      })
      pre.innerHTML = jsonHighlight(await resp.json())
    } catch (err) {
      pre.innerHTML = err
    }
    loading.style.display = 'none'
    response.style.display = 'table'
  }

  function jsonHighlight(json) {
    if (typeof json !== 'string') json = JSON.stringify(json, undefined, 4)
    json = json.replace(/&/g, '&').replace(/</g, '<').replace(/>/g, '>')
    return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function(match) {
      let cls = 'number'
      if (/^"/.test(match)) {
        if (/:$/.test(match)) {
          cls = 'key'
        } else {
          cls = 'string'
        }
      } else if (/true|false/.test(match)) {
        cls = 'boolean'
      } else if (/null/.test(match)) {
        cls = 'null'
      }
      return '<span class="' + cls + '">' + match + '</span>'
    })
  }
</script>
</html>
