<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/analyzer/css/index.css">
  <title>Nginx Log Analyser - Index</title>
</head>
<body>
  <div class="app">
    <p>日志文件列表</p>
    <ul>
      <li>
        <span></span>
        <span>文件名</span>
        <span>文件大小</span>
      </li>
      <li th:each="file : ${files}" onclick="ck(this)">
        <span class="btn">
          <a target="_blank" th:href="@{'charts/'+${file.name}}">图表</a>
          <a target="_blank" th:href="@{'details/'+${file.name}}">列表</a>
        </span>
        <span class="filename" th:text="${file.name.replaceAll('_', '/')}"></span>
        <span class="filesize" th:text="${file.size}"></span>
      </li>
    </ul>
  </div>
</body>
<script src="/analyzer/js/common.js"></script>
<script>
  function ck(_this) {
    _this.classList.toggle('active')
  }
</script>
</html>
